/* GLOBAL STYLES
-------------------------------------------------- */
body {
  padding-top: 0;
  padding-bottom: 0;
  font-family: 'Itim', cursive;
  letter-spacing: 1.2px;
  color: #200f0c;
}

input {
  font-family: 'Itim', cursive;
  line-height: 1.15;
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: transparent;
  width: 80px
}

#navB {
  display: none;
}

li.ddr #navbarDropdownMenuLink {
  margin: 8px 15px 10px 7px;
}

.sBody {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 650px;
  display: flex;
  flex-grow: row;
}

h3 {
  font-size: 1.3rem;
  margin: 3px 0 10px 0;
}

b {
  font-size: 3rem;
  margin: 0 0 0 10px;
  letter-spacing: 5px;
  text-shadow: 2px 3px 1px #af9e93;
  font-family: 'Satisfy', cursive;
}

h4 {
  margin-top: 3px;
  font-size: 1.4rem;
}

h5 {
  margin-top: 10px;
  margin-bottom: 15px;
  margin-left: 0;
  margin-right: 3px;
  font-size: 0.9rem;
}

h6 {
  font-size: 0.8rem
}

.barnav {
  width: 100px;
  height: 100%;
  margin: 0;
  padding: 2px;
  text-align: center;
  /* border-style: outset; */
  box-shadow: 2px 0 5px salmon;
  background: #292929;
}

.logo {
  margin: 20px auto;
  width: 70px;
  height: 75px;
  border-radius: 15px;
}

.logo2 {
  margin: 8px auto;
  width: 55px;
  height: 60px;
}

.logo1 {
  margin: 10px auto;
  width: 60px;
  height: 60px;
}

.social {
  margin: 5px auto;
  width: 30px;
  height: 30px;
}

img {
  border-radius: 3px;
}

a {
  text-decoration: none;
  color: white;
}

div.barnav ul {
  text-align: left;
  margin: 0;
  padding: 10px 0 0 15px;
}

div.barnav ul li {
  list-style: none;
  text-decoration: none;
  color: ;
  margin-bottom: 30px;
}

.barnav a.nav-link {
  margin-top: 0.3rem
}

#navbarDropdownMenuLink {
  margin: 0;
  padding: 0;
}

#intPg {
  color: red;
}

.barnav .dropdown {
  margin: 0.6rem 0;
}

.barnav .dropdown-menu {
  width: 150px;
  border: 0;
  border-radius: 10px;
}

.bodyContain {
  width: 100%;
  height: 100%;
  /* background: skyblue; */
  padding: 0;
  margin: 0;
  position: relative;
  overflow: hidden;
  z-index: -2
}

img.xxx {
  border: 4px solid white;
  box-shadow: 0px 0px 15px 5px #c1c1c1fc;
  border-radius: 10px;
  position: absolute;
}

.tail {
  right: -266px;
  top: -135px;
  margin: auto;
  width: 626px;
  height: 298px;
  transform: rotate(45deg);
}

.proj1 {
  width: 336px;
  height: 286px;
  margin: 5px;
  right: 330px;
  top: -137px;
  transform: rotate(45deg);
}

.about {
  transform: rotate(45deg);
  width: 397px;
  height: 281px;
  margin: 5px;
  right: 22px;
    top: 143px;
}

.proj {
  width: 276px;
  height: 281px;
  margin: 5px;
  transform: rotate(45deg);
  right: -173px;
  top: 399px;
}

.cont3 {
  width: 480px;
  height: 480px;
  position: absolute;
  /* background-color:#df997b0f; */
  /* box-shadow:inset 0 0 20px #c1c1c1fc; */
  left: 5%;
  top: 12%;
  text-align: center;
  padding: 10px;
  z-index: -1;
  border-radius: 15px;
}

.mee {
  width: 180px;
  height: 180px;
  border-radius: 50%;
}
#aboutme{
  margin-bottom: 1rem;
}
.cv {
  width: 238px;
  height: 370px;
  margin: 5px;
  transform: rotate(-45deg);
  right: 475px;
  bottom: -245px;
}

.cv2 {
  width: 238px;
  height: 370px;
  margin: 5px;
  transform: rotate(-45deg);
  right: 289px;
  bottom: -57px;
}

.code {
  width: 200px;
  height: 163px;
  width: 271px;
  height: 154px;
  transform: rotate(-45deg);
  right: 82px;
  bottom: -158px;
}
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */
/* Carousel base class */
.carousel {
  margin-bottom: 4rem;
}

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 32rem;
}

.carousel-item>img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 32rem;
}

/* MARKETING CONTENT
-------------------------------------------------- */
/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}

.marketing h2 {
  font-weight: 400;
}

.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}

/* Featurettes
------------------------- */
.featurette-divider {
  margin: 5rem 0;
  /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}

/* RESPONSIVE CSS
-------------------------------------------------- */
@media (min-width: 40em) {

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (max-width: 575px) {
  body {
    letter-spacing: 0.5px;
  }
  img.xxx {
    border: 2px solid white;
    border-radius: 8px;
  }
  #navB {
    display: block;
    padding-left: 15px;
    font-family: 'Itim', cursive;
    font-size: ;
    padding-top: 10px;
  }
  .nav-link.ff {
    margin: 5px 0 0 1px;
  }

  .navbar-toggler {
    font-size: 1.2rem;
  }

  img.logo2 {
    width: 57px;
    height: 60px;
    margin-right: 450px;
    margin-top: 20px;
    border-radius: 7px;
  }

  .bg-dark {
    background: #262626;
  }

  .navbar-light .navbar-nav .nav-link {
    color: #200f0c;
  }

  .navbar-dark .navbar-nav .nav-link {
    color: #fff;
  }

  .dropdown {
    margin: 0.6rem 0;
  }

  li.ddr #navbarDropdownMenuLink {
    margin: 3px 1px 2px 0.5px;
  }

  .dropdown-menu {
    width: 150px;
    border: 0;
    border-radius: 10px;
  }

  h3 {
    font-size: 1.1rem;
    margin: 3px 0 10px 0;
  }

  b {
    font-size: 1.9rem;
    margin: 0 0 0 10px;
    letter-spacing: 5px;
    text-shadow: 2px 2px 1px #af9e93;
  }

  h4 {
    margin-top: 10px;
    margin-bottom: 40px;
    font-size: 1.25rem;
  }

  h5 {
    margin-top: 10px;
    margin-bottom: 15px;
    margin-left: 0;
    margin-right: 3px;
    font-size: 0.7rem;
  }

  h6 {
    font-size: 0.8rem
  }

  .barnav {
    display: none;
  }

  .bodyContain {
    overflow: hidden;
    z-index: -2
  }

  .tail {
    display: none;
  }

  .code {
    display: none;
  }

  .proj1 {
    width: 84px;
    height: 145px;
    right: 95px;
    top: -100px;
  }

  .about {
    width: 163px;
    height: 145px;
    right: -44px;
    top: -4px;
  }

  .proj {
    width: 163px;
    height: 145px;
    right: -168px;
    top: 123px;
  }

  .cont3 {
    width: 70%;
    height: 55%;
    left: 11%;
    top: 11%;
    text-align: center;
  }
  .mee {
    margin-top: 50px;
    width: 120px;
    height: 120px;
    border-radius: 50%;
  }
  .cv {
    width: 158px;
    height: 230px;
    right: 15px;
    bottom: -88px;
  }

  .cv2 {
    width: 158px;
    height: 230px;
    right: -112px;
    bottom: 41px;
  }

  .cont5 {
    display: none;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width:576px) and (max-width:767px) {
  body {
    letter-spacing: 0.5px;
  }
  img.xxx {
    border: 3px solid white;
    border-radius: 8px;
  }
  #navB {
    display: block;
    padding-left: 15px;
    font-family: 'Itim', cursive;
    font-size: ;
    padding-top: 10px;
  }

  .nav-link.ff {
    margin: 5px 0 0 1px;
  }

  .navbar-toggler {
    font-size: 1.3rem;
  }

  img.logo2 {
    width: 57px;
    height: 60px;
    margin-right: 450px;
    margin-top: 20px;
    border-radius: 7px;
  }

  .bg-dark {
    background: #262626;
  }

  .navbar-light .navbar-nav .nav-link {
    color: #200f0c;
  }

  .navbar-dark .navbar-nav .nav-link {
    color: #fff;
  }

  .dropdown {
    margin: 0.6rem 0;
  }

  li.ddr #navbarDropdownMenuLink {
    margin: 3px 1px 2px 0.5px;
  }

  .dropdown-menu {
    width: 150px;
    border: 0;
    border-radius: 10px;
  }

  h3 {
    font-size: 1.1rem;
  }

  b {
    font-size: 2.2rem;
    text-shadow: 2px 3px 1px #af9e93;
  }

  h4 {
    font-size: 1.4rem;
  }

  h5 {
    font-size: 0.8rem;
  }

  h6 {
    font-size: 0.8rem
  }

  .barnav {
    display: none;
  }

  .bodyContain {
    overflow: hidden;
    z-index: -2
  }

  .tail {
    display: block;
    width: 190px;
    height: 155px;
    right: -99px;
    top: -72px;
  }

  .proj1 {
    width: 132px;
    height: 175px;
    right: 227px;
    top: -125px
  }

  .about {
    width: 213px;
    height: 175px;
    right: 50px;
    top: 12px;
  }

  .proj {
    width: 193px;
    height: 175px;
    right: -96px;
    top: 170px;
  }

  .cont3 {
    width: 67%;
    height: 60%;
    left: 7%;
    top: 14%;
    text-align: center;
  }

  .mee {
    margin-top: 50px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
  }

  .cv {
    width: 158px;
    height: 214px;
    right: 100px;
    bottom: -77px;
  }

  .cv2 {
    width: 158px;
    height: 214px;
    right: -28px;
    bottom: 53px;
  }

  .code {
    display: block;
    right: -182px;
    bottom: -96px;
  }
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
  body {
    letter-spacing: 0.7px;
  }
  img.xxx {
    border: 3px solid white;
    border-radius: 9px;
  }
  #navB {
    display: none;
  }
  .barnav .dropdown {
      margin: 0.8rem 0;
  }
  h3 {
    font-size: 1.25rem;
    margin-bottom: 1.5rem;
  }
  b {
    font-size: 2.9rem;
    text-shadow: 2px 3px 2px #af9e93;
  }
  h4 {
    font-size: 1.5rem;
    margin-top: 1.2rem;
  }
  h5 {
    font-size: 0.95rem;
  }
  h6 {
    font-size: 0.8rem
  }
  .barnav {
    display: block;
  }
  .bodyContain {
    overflow: hidden;
    z-index: -2
  }
  .tail {
    display: block;
    width: 207px;
    height: 155px;
    right: -95px;
    top: -64px;
  }
  .proj1 {
    width: 207px;
    height: 200px;
    right: 236px;
    top: -134px
  }
  .about {
    width: 278px;
    height: 200px;
    right: 11px;
    top: 51px;
  }
  .proj {
    width: 210px;
    height: 200px;
    right: -145px;
    top: 235px;
  }
  .cont3 {
    width: 59%;
    height: 60%;
    left: 7%;
    top: 8%;
    text-align: center;
  }
  .mee {
    margin-top: 50px;
    width: 190px;
    height: 190px;
    border-radius: 50%;
  }
  .cv {
    width: 180px;
    height: 235px;
    right: 140px;
    bottom: -120px;
  }
  .cv2 {
    width: 170px;
    height: 235px;
    right: 3px;
    bottom: 19px;
  }
  .code {
    display: block;
    right: -182px;
    bottom: -96px;
  }
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
  body {
    letter-spacing: 0.7px;
  }
  #navB {
    display: none;
  }
  .barnav {
    width: 120px;
  }
  .logo {
    margin: 40px auto;
    width: 75px;
    height: 80px;
  }
  .barnav .dropdown {
      margin: 0.8rem 0;
  }
   h3 {
    margin-bottom: 0.7rem;
  }
  h4 {
    margin-top: 1.5rem;
  }
  h5 {
    font-size: 0.95rem;
  }
  .barnav {
    display: block;
  }
  .tail {
    display: block;
    width: 350px;
    height: 155px;
    right: -161px;
    top: -26px;
  }
  .proj1 {
    width: 247px;
    height: 250px;
    right: 287px;
    top: -151px;
  }
  .about {
    width: 324px;
    height: 250px;
    right: 25px;
    top: 65px;
  }
  .proj {
    width: 247px;
    height: 250px;
    right: -154px;
    top: 284px;
  }
  .cont3 {
    width: 45%;
    height: 60%;
    left: 6%;
    top: 4%;
    text-align: center;
  }
  .mee {
    margin-top: 50px;
    width: 190px;
    height: 190px;
    border-radius: 50%;
  }
  .cv {
    width: 230px;
    height: 290px;
    right: 329px;
    bottom: -168px;
  }
  .cv2 {
    width: 230px;
    height: 290px;
    right: 152px;
    bottom: 11px;
  }
  .code {
    display: block;
    right: -23px;
    bottom: -106px;
    width: 194px;
    height: 192px;
  }
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
  ...
}
