/* body{
  margin:0;
  padding:0;
} */
body {
  padding-top: 5rem;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

.BodyCont{
  margin: 4px 0 0 0;
  padding: 0;
  /*width: 100%; */
  /* background: green; */
}
.cont{
  width:500px;
  height: 267px;
  position: absolute;
  background-color:#87ceeb5c;
  transform: rotate(45deg);
  right:-274px;
  top:-87px

}
.cont2{
  width:1046px;
  height: 310px;
  position: absolute;
  background-color:#ffeb3b66;
  transform: rotate(45deg);
  right:-261px;
  top:13px
}
.cont3{
  width:460px;
  height: 485px;
  position: absolute;
  background-color:#fa807257;
  left:70px;
  top:75px
}
.cont4{
  width:740px;
  height: 334px;
  position: absolute;
  background-color:#00ff0054;
  transform: rotate(-45deg);
  right:116px;
  bottom:-199px
}
.cont5{
  width:203px;
  height: 198px;
  position: absolute;
  background-color:#0000ff38;
  transform: rotate(-45deg);
  right:7px;
  bottom:-129px
}
@media (max-width: 1028px) {
}
