/* GLOBAL STYLES
-------------------------------------------------- */
body {
  font-family: 'Varela Round', sans-serif;
  font-weight: 400;
  line-height: 1.7;
  padding-top: 0;
  padding-bottom: 0;
  /* font-family: 'Itim', cursive; */
  letter-spacing: 2px;
  color: #200f0c;
}

input {
  line-height: 1.15;
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: transparent;
  width: 80px
}

#navB {
  display: none;
}

li.ddr #navbarDropdownMenuLink {
  margin: 8px 15px 10px 7px;
}

.sBody {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 650px;
  display: flex;
  flex-grow: row;
}

h3 {
  font-size: 1.3rem;
  margin: 3px 0 20px 0;
}

b {
  font-size: 3rem;
  font-weight: 400px;
  margin: 0 0 0 10px;
  letter-spacing: 5px;
  text-shadow: 2px 3px 1px #af9e93;
  /* font-family: 'Satisfy', cursive; */
}

h4 {
  margin-top: 3px;
  font-size: 1.4rem;
}

h5 {
  margin-top: 10px;
  margin-bottom: 15px;
  margin-left: 0;
  margin-right: 3px;
  font-size: 0.9rem;
}

h6 {
  font-size: 0.8rem
}

.barnav {
  width: 100px;
  height: 100%;
  margin: 0;
  padding: 2px;
  text-align: center;
  box-shadow: 0 0 8px #99043b;
  background: #292929;
}

.logo {
  margin: 70px auto;
  width: 70px;
  height: 75px;
  border-radius: 15px;
}

.logo2 {
  margin: 8px auto;
  width: 55px;
  height: 60px;
}

.logo1 {
  margin: 10px auto;
  width: 60px;
  height: 60px;
}

.social {
  margin: 5px auto;
  width: 30px;
  height: 30px;
}

/* img {
  border-radius: 3px;
} */
a {
  text-decoration: none;
  color: white;
}

div.barnav ul {
  text-align: left;
  margin: 0;
  padding: 10px 0 0 15px;
}

div.barnav ul li {
  list-style: none;
  text-decoration: none;
  color: ;
  margin-bottom: 30px;
}

.barnav a.nav-link {
  margin-top: 0.3rem
}

#navbarDropdownMenuLink {
  margin: 0;
  padding: 0;
}

#intPg {
  color: red;
}

.barnav .dropdown {
  margin: 0.6rem 0;
}

.barnav .dropdown-menu {
  width: 150px;
  border: 0;
  border-radius: 10px;
}

.bodyContain {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  position: relative;
  overflow: hidden;
  z-index: -2
}

img.xxx {
  border: 4px solid white;
  box-shadow: 0px 0px 15px 5px #c1c1c1fc;
  border-radius: 10px;
  position: absolute;
}

.tail {
  right: -264px;
  top: -130px;
  margin: auto;
  width: 626px;
  height: 298px;
  transform: rotate(45deg);
}

.proj1 {
  width: 336px;
  height: 286px;
  margin: 5px;
  right: 330px;
  top: -137px;
  transform: rotate(45deg);
}

.about {
  transform: rotate(45deg);
  width: 397px;
  height: 281px;
  margin: 5px;
  right: 22px;
  top: 143px;
}

.proj {
  width: 276px;
  height: 281px;
  margin: 5px;
  transform: rotate(45deg);
  right: -173px;
  top: 399px;
}

.cont3 {
  width: 40%;
  height: 60%;
  position: absolute;
  left: 5%;
  top: 17%;
  text-align: center;
  padding: 10px;
  z-index: -1;
}

.mee {
  width: 180px;
  height: 180px;
  border-radius: 50%;
}

#aboutme {
  margin-bottom: 1rem;
}

.cv {
  width: 250px;
  height: 370px;
  margin: 5px;
  transform: rotate(-45deg);
  right: 475px;
  bottom: -257px;
}

.cv2 {
  width: 250px;
  height: 370px;
  margin: 5px;
  transform: rotate(-45deg);
  right: 280px;
  bottom: -61px;
}

.code {
  width: 200px;
  height: 163px;
  width: 271px;
  height: 154px;
  transform: rotate(-45deg);
  right: 80px;
  bottom: -153px;
}

/* Middle Container
-------------------------------------------------- */
.midCont {
  margin: 0;
  padding: 0;
  height: 500px;
  display: flex;
  /* background: #99043b; */
  position: relative;
  z-index: 1;
  color: white;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to right bottom, rgba(229, 45, 39, 0.5),
      rgba(44, 62, 80, 0.5)), url('images/code.png');
  background-size: cover;
  background-position: top;
}

/* RESPONSIVE CSS
-------------------------------------------------- */
@media (max-width: 575px) {
  body {
    letter-spacing: 1px;
  }

  img.xxx {
    border: 2px solid white;
    border-radius: 8px;
  }

  #navB {
    display: block;
    padding-left: 15px;
    font-family: 'Itim', cursive;
    font-size: ;
    padding-top: 10px;
  }

  .nav-link.ff {
    margin: 5px 0 0 1px;
  }

  .navbar-toggler {
    font-size: 1.2rem;
  }

  img.logo2 {
    width: 57px;
    height: 60px;
    margin-right: 450px;
    margin-top: 20px;
    border-radius: 7px;
  }

  .bg-dark {
    background: #262626;
  }

  .navbar-light .navbar-nav .nav-link {
    color: #200f0c;
  }

  .navbar-dark .navbar-nav .nav-link {
    color: #fff;
  }

  .dropdown {
    margin: 0.6rem 0;
  }

  li.ddr #navbarDropdownMenuLink {
    margin: 3px 1px 2px 0.5px;
  }

  .dropdown-menu {
    width: 150px;
    border: 0;
    border-radius: 10px;
  }

  h3 {
    font-size: 0.6rem;
    margin: 10px 0 10px 0;
  }

  b {
    font-size: 1.6rem;
    margin: 0 0 0 10px;
    letter-spacing: 5px;
    text-shadow: 2px 2px 1px #af9e93;
  }

  h4 {
    margin-top: 20px;
    margin-bottom: 3px;
    font-size: 0.7rem;
    line-height: 1.6;
    font-weight: 100;
    letter-spacing: 3px;
  }

  h5 {
    margin-top: 10px;
    margin-bottom: 15px;
    margin-left: 0;
    margin-right: 3px;
    font-size: 0.7rem;
  }

  h6 {
    font-size: 0.6rem;
  }

  .barnav {
    display: none;
  }

  .bodyContain {
    overflow: hidden;
    z-index: -2
  }

  .tail {
    display: none;
  }

  .code {
    display: none;
  }

  .proj1 {
    width: 84px;
    height: 145px;
    right: 95px;
    top: -100px;
  }

  .about {
    width: 163px;
    height: 145px;
    right: -44px;
    top: -4px;
  }

  .proj {
    width: 163px;
    height: 145px;
    right: -168px;
    top: 123px;
  }

  .cont3 {
    width: 90%;
    height: 55%;
    left: 4%;
    top: 14%;
    text-align: center;
  }

  .mee {
    margin-top: 50px;
    width: 110px;
    height: 110px;
    border-radius: 50%;
  }

  .cv {
    width: 158px;
    height: 230px;
    right: 15px;
    bottom: -88px;
  }

  .cv2 {
    width: 158px;
    height: 230px;
    right: -112px;
    bottom: 41px;
  }

  .cont5 {
    display: none;
  }
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width:576px) and (max-width:767px) {
  body {
    letter-spacing: 0.5px;
  }

  img.xxx {
    border: 3px solid white;
    border-radius: 8px;
  }

  #navB {
    display: block;
    padding-left: 15px;
    font-family: 'Itim', cursive;
    font-size: ;
    padding-top: 10px;
  }

  .nav-link.ff {
    margin: 5px 0 0 1px;
  }

  .navbar-toggler {
    font-size: 1.3rem;
  }

  img.logo2 {
    width: 57px;
    height: 60px;
    margin-right: 450px;
    margin-top: 20px;
    border-radius: 7px;
  }

  .bg-dark {
    background: #262626;
  }

  .navbar-light .navbar-nav .nav-link {
    color: #200f0c;
  }

  .navbar-dark .navbar-nav .nav-link {
    color: #fff;
  }

  .dropdown {
    margin: 0.6rem 0;
  }

  li.ddr #navbarDropdownMenuLink {
    margin: 3px 1px 2px 0.5px;
  }

  .dropdown-menu {
    width: 150px;
    border: 0;
    border-radius: 10px;
  }

  b {
    font-size: 1.7rem;
    margin: 15px 0 3px 0;
    text-shadow: 2px 3px 1px #af9e93;
  }

  h4 {
    font-size: 0.85rem;
    margin-top: 25px;
    letter-spacing: 1.6px;
    line-height: 1.5;
  }

  h5 {
    font-size: 0.7rem;
  }

  h6 {
    font-size: 0.7rem
  }

  .barnav {
    display: none;
  }

  .bodyContain {
    overflow: hidden;
    z-index: -2
  }

  .tail {
    display: block;
    width: 244px;
    height: 155px;
    right: -126px;
    top: -122px;
  }

  .proj1 {
    width: 147px;
    height: 150px;
    right: 151px;
    top: -115px;
  }

  .about {
    width: 213px;
    height: 150px;
    right: -23px;
    top: 23px;
  }

  .proj {
    width: 216px;
    height: 150px;
    right: -189px;
    top: 184px;
  }

  .cont3 {
    width: 75%;
    height: 60%;
    left: 7%;
    top: 17%;
    text-align: center;
  }

  .mee {
    margin: 7px 0;
    width: 120px;
    height: 120px;
    border-radius: 50%;
  }

  .cv {
    width: 169px;
    height: 216px;
    right: 50px;
    bottom: -33px;
  }

  .cv2 {
    width: 169px;
    height: 216px;
    right: -84px;
    bottom: 100px;
  }

  .code {
    display: block;
    right: -182px;
    bottom: -96px;
  }
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
  body {
    letter-spacing: 0.7px;
  }

  img.xxx {
    border: 3px solid white;
    border-radius: 9px;
  }

  #navB {
    display: none;
  }

  .barnav .dropdown {
    margin: 0.8rem 0;
  }

  h3 {}

  b {
    font-size: 2.1rem;
    text-shadow: 2px 3px 2px #af9e93;
  }

  h4 {
    font-size: 1rem;
    letter-spacing: 2.3px;
    line-height: 1.4;
    margin-top: 35px;
  }

  h5 {
    font-size: 0.65rem;
    letter-spacing: 2px;
  }

  h6 {
    font-size: 0.8rem
  }

  .barnav {
    display: block;
  }

  .bodyContain {
    overflow: hidden;
    z-index: -2
  }

  .tail {
    display: block;
    width: 244px;
    height: 155px;
    right: -165px;
    top: -70px;
  }

  .proj1 {
    width: 190px;
    height: 170px;
    right: 161px;
    top: -129px;
  }

  .about {
    width: 263px;
    height: 170px;
    right: -51px;
    top: 42px;
  }

  .proj {
    width: 216px;
    height: 170px;
    right: -207px;
    top: 221px;
  }

  .cont3 {
    width: 65%;
    height: 60%;
    left: 7%;
    top: 15%;
    text-align: center;
  }

  .mee {
    margin: 15px 0;
    width: 140px;
    height: 140px;
    border-radius: 50%;
  }

  .cv {
    width: 207px;
    height: 253px;
    right: 99px;
    bottom: -111px;
  }

  .cv2 {
    width: 207px;
    height: 253px;
    right: -61px;
    bottom: 52px;
  }

  .code {
    display: block;
    right: -182px;
    bottom: -106px;
  }
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
  body {
    letter-spacing: 0.7px;
  }

  #navB {
    display: none;
  }

  .barnav {
  }

  .logo {
    margin: 70px auto;
    width: 75px;
    height: 80px;
  }

  .barnav .dropdown {
    margin: 0.8rem 0;
  }
  b {
    font-size: 2.1rem;
    text-shadow: 2px 3px 2px #af9e93;
  }

  h4 {
    font-size: 1rem;
    letter-spacing: 2.3px;
    line-height: 1.4;
    margin-top: 35px;
  }

  h5 {
    font-size: 0.65rem;
    letter-spacing: 2px;
  }

  h3 {
    margin-bottom: 0.7rem;
  }

  .barnav {
    display: block;
  }

  .tail {
    display: block;
    width: 350px;
    height: 155px;
    right: -161px;
    top: -26px;
  }

  .proj1 {
    width: 247px;
    height: 250px;
    right: 287px;
    top: -151px;
  }

  .about {
    width: 324px;
    height: 250px;
    right: 25px;
    top: 65px;
  }

  .proj {
    width: 247px;
    height: 250px;
    right: -154px;
    top: 284px;
  }

  .cont3 {
    width: 45%;
    height: 60%;
    left: 6%;
    top: 4%;
    text-align: center;
  }

  .mee {
    margin-top: 50px;
    width: 190px;
    height: 190px;
    border-radius: 50%;
  }

  .cv {
    width: 230px;
    height: 290px;
    right: 329px;
    bottom: -168px;
  }

  .cv2 {
    width: 230px;
    height: 290px;
    right: 152px;
    bottom: 11px;
  }

  .code {
    display: block;
    right: -23px;
    bottom: -106px;
    width: 194px;
    height: 192px;
  }
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
  ...
}
